# Ignore node_modules directory
node_modules/

# Ignore built files
dist/
build/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm debug log
npm-debug.log*

# Ignore yarn lockfile
yarn.lock

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Ignore Windows folder config file
Desktop.ini

# Ignore Visual Studio Code settings
.vscode/